<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataContextModelContainer" connectionString="metadata=res://*/DataContextModel.csdl|res://*/DataContextModel.ssdl|res://*/DataContextModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DataContextDemo;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>